langchain==0.3.27
langchain-community==0.3.27
langchain-huggingface==0.1.2
langchain-core==0.3.86
sentence-transformers==3.2.1
faiss-cpu==1.9.0.post1
pypdf==5.1.0
streamlit==1.39.0
requests==2.32.3
python-dotenv==1.0.1
